h2 {
	border-bottom: 1px solid white;
}

.parallax {
	background-image: url("../Content/img/header1.jpg");
	height: 700px;
	width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


#navigation {
	display: table;
	margin: 0 auto;
	text-align: center;
	font-size: 17px;
	height: 120px;
}

#navigation ul {
	list-style: none;
	display: inline-block;
}

#navigation li {
	display: inline;	
}

#navigation a {
	float: left;
	text-decoration: none;
	color: white;
	padding: 0 30px;
	text-transform: uppercase;
}

#navtext a:hover {
	border-bottom: 5px solid rgb(130,176,212);
	font-weight: bold;
}

header {
	background-color: rgba(42,42,42,0.9);
}

.logo {
	height: 100px;
	width: 100px;
}

ul.social_icons, li.social {
	margin-top: -23px;
	padding-left: 5px;
	padding-right: 5px;
	max-width: 25%;
	list-style: none;
	float: left;
	text-decoration: none;
	display: block;
	position: relative;
}

.social {
	width: 30px;
	height: 30px;
	margin-top: 30px;
}

footer {
	height: 415px;
	width: 100%;
	background-color: black;
	padding-top: 20px;
	color: white;
	font-family: 'Roboto', sans-serif;
}

.footer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);
	margin: 20px;
	width: 100%;
	font-size: 15px;
}

.ett {
	grid-column: 1;
	grid-row: 1 / 2;
	margin-left: 35px;
}

	.ett p {
		color: #B0B0B0;
	}

.två {
	grid-column: 2;
	grid-row: 1 / 2;
}

.tre {
	grid-column: 3;
	grid-row: 1 / 2;
}
