h1 {
	text-align: center;
}

h2 {
	border-bottom: 1px solid white;
}

.parallax {
	background-image: url("../Content/img/header5.jpg");
	height: 450px;
	width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
}

.logo {
	height: 120px;
	width: 120px;
}

header {
	background-color: rgba(42,42,42,0.9);
}

#navigation {
	display: table;
	margin: 0 auto;
	text-align: center;
	height: 145px;
	padding-top: 10px;
}

#navigation ul {
	list-style: none;
	display: inline-block;
}

#navigation li {
	display: inline;
}

#navigation a {
	text-decoration: none;
	color: white;
	margin: 0 60px;
	text-transform: uppercase;
	font-size: 18px;
}

#navigation a:hover {
	border-bottom: 5px solid rgb(130,176,212);
	font-weight: bold;
}

ul.social_icons, li.social {
	margin-top: -23px;
	padding-left: 5px;
	padding-right: 5px;
	max-width: 25%;
	list-style: none;
	float: left;
	text-decoration: none;
	display: block;
	position: relative;
}

.social {
	width: 30px;
	height: 30px;
	margin-top: 25px;
}

footer {
	height: 415px;
	width: 100%;
	background-color: black;
	padding-top: 20px;
	color: white;
	font-family: 'Roboto', sans-serif;
}

.footer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);
	margin: 20px;
	width: 100%;
	font-size: 15px;
}

.ett {
	grid-column: 1;
	grid-row: 1 / 2;
	margin-left: 35px;
}

.ett p {
	color: #B0B0B0;
}

.två {
	grid-column: 2;
	grid-row: 1 / 2;
}

.tre {
	grid-column: 3;
	grid-row: 1 / 2;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);
	padding: 60px;
}

.one {
	grid-column: 1;
	height: 500px;
	background-color: dodgerblue;
}

.dos {
	grid-column: 2;
	height: 500px;
	background-color: red;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(42,42,42,0.89);
	color: white;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 20px;
}

.guidetitle{
    margin: 0 auto;
}

.Guides {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 12px;
}

.Guides {
    grid-column: span 1;
    border: 1px solid #eeeeee;
    background-image: url("../Content/Img" + item.ImageFile);
    padding: 10px;
    color: black;
    text-decoration: none;
}