@model IEnumerable<Fortnitetutorials.Models.Guide>

@{
    ViewBag.Title = "Guides";
}

<div class="whitespace"></div>

<div class="createbtn">
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        <span class="btn btn-default"> @Html.ActionLink("Create New", "Create")</span>
    </p>
}
</div>

@using (Html.BeginForm("index", "Guides", FormMethod.Get))
{
    <input type="text" id="search" name="search" placeholder="Find guide/article... " class="form-control" />
    <input type="submit" value="search" class="hidden" />
}

<div class="Guides">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("Details", "guides", new { id = item.ID })" class="Guide">

            <h2 class="guidetitle">@item.Title</h2>
            <img src="@Url.Content("~/Content/Img" + item.ImageFile)" alt="finbild"
                 class="img-responsive" />

        </a>
    }
</div>

