@model IEnumerable<Fortnitetutorials.Models.Guide>

@{
    ViewBag.Title = "Guides";
}

<div class="Guides">
    @foreach(var item in Model){
        <a href="@Url.Action("Details","guides", new {id = item.ID })" 
           class="Guides">
            <img src="@Url.Content("~/Content/img/logo.jpg")" alt="finbild" 
                 class="img-responsive"/>
            <h2>@item.Title</h2>
        </a>
    }
</div>