@model IEnumerable<Fortnitetutorials.Models.Guide>

@{
    ViewBag.Title = "Guides";
}


    <p>
        <span class="btn btn-default"> @Html.ActionLink("Create New", "Create")</span>
    </p>


<div class="Guides">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("Details","guides", new {id = item.ID })" class="Guide">

            <h2 class="guidetitle">@item.Title</h2>
            <img src="@Url.Content("~/Content/Img" + item.ImageFile)" alt="finbild"
                 class="img-responsive" />
            
        </a>
    }
</div>
