
@{
    ViewBag.Title = "FAQ";
}

<div class="whitespace"></div>

<h2>FAQ</h2>

<body>
    <header>
        <h1>Formulär</h1>
    </header>


    <form action="kontroll.php" method="post">
        <fieldset>
            <legend>Requests</legend>
            <label for="fnamn">Email:</label>
            <input type="text" name="fnamn" id="fnamn">


            <label for="fnamn">What kind of videos do you want to see?:</label>
            <textarea name="message" rows="10" cols="30" name="fnamn" id="fnamn"></textarea>
            <button type="button" name="button">Skicka</button>
        </fieldset>
    </form>



    <footer></footer>
</body>
