@{
    ViewBag.Title = "FortniteTutorials";
}

<div>
    <header></header>
    <div class="parallax">


        <div class="centered">
            <h1>Free Guides</h1>
            <p> </p>
        </div>

    </div>
    <div class="whitespace"></div>

    <div class="parallax2">
        <div class="grid-container">
            <div class="one">
                <h3>Welcome To FortniteTutorials!</h3>
            </div>
            <div class="two">
                <h3>We will teach u how to become Ninja xd</h3>
            </div>
        </div>
    </div>

    </div>
