@{
    ViewBag.Title = "FortniteTutorials";
}

<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width;scale=1.0">
    <link href="stylesheet.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link rel="stylesheet" href="css/flexslider.css" />

    <title>FortniteTutorials </title>

</head>
<body>
    <div id="container">
        <header></header>
        <div class="parallax">
            

            <div class="centered">
                <h1> Pro Guides</h1>
                <p> </p>
            </div>

        </div>


        <div class="grid-container">
            <div class="one">1</div>
            <div class="two">2</div>
        </div>

    </div>
</body>
</html>