@{
    ViewBag.Title = "FortniteTutorials";
}

    <div>
      <header></header>
        <div class="parallax">
            

            <div class="centered">
                <h1>FortniteTutorials</h1>
                <p> </p>
            </div>

        </div>


        <div class="grid-container">
            <div class="one">
                <h1>Welcome To FortniteTutorials!</h1>
            </div>
            <div class="dos">
                <h1>We will teach u how to become Ninja xd</h1>
            </div>
            <div class="three">
                <h1>We will teach u how to become Ninja xd</h1>
            </div>
        </div>

    </div>